/* ========================================
   ESTILOS DOS ELEMENTOS
   ======================================== */
h1{
  color: #4F2382;
  font-size: 40px;
   border-bottom: 1px solid #4F2382;
  text-align: center;
   text-decoration: arial;
}

h2{
  color: #4F2382;
   border-bottom: 1px solid #4F2382;
  text-decoration: arial;
}

p{
  color: #0a090a;
   text-decoration: arial;
}

a{
  color: #0A0112;
  text-decoration: arial;
}
a:hover{
  color: #4F2382;
  text-decoration: arial;
}
/* ========================================
   CLASSE
   ======================================== */

.cargo {
  color: #666666;
  font-weight: arial;
}

.link-social {
  color: #261F1F;
    text-decoration: arial;
}
/* ========================================
   SEÇÕES
   ======================================== */

#hero {
  background-color: ##fffae1;
}
#hero img{
  margin: 20px;
   border: 3px solid #4F2382;
}
*{
   box-sizing: border-box;
}
#sobre {
  background-color: #fffae1;
}

#habilidades {
  background-color: #fffae1;
}

#projetos{
  background-color: #fffae1;
}
#contatos {
  background-color: #fffae1;
}

/* ========================================
   RODAPÉ
   ======================================== */
footer {
  background-color: #fffae1;
}

footer p{
  color: #0A0112;
   text-align: row;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 30%;
    object-fit: cover;
    border: 3px solid #4A1472;
}
body{
  background-color: #fffae1;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

}

nav{
  display: flex;
  gap: 20px;
}

.projetos-grid{
 display: flex;
  justify-content: space-between;
  align-items: row;
  flex-direction: column;
}
