/* ========================================
   ESTILOS DOS ELEMENTOS
   ======================================== */
h1{
  color: #120224;
  font-size: 40px;
  text-align: center;
}

h2{
  color: #4F2382;
}

p{
  color: #0a090a;
}

a{
  color: #0A0112;
  text-decoration: nome;
}
/* ========================================
   CLASSE
   ======================================== */

.cargo {
  color: #666666
  font-weight: bold;
}

.link-social {
  color: #261F1F;
    text-decoration: nome;
}
/* ========================================
   SEÇÕES
   ======================================== */

#hero {
    padding: 30px;
  margin: 20px;
  border: 2px solid #313031;
  background-color: #FFF8D9;
}
#hero img{
   width: 300px;
   height: auto;
}
{
   box-sizing: border-box;
}
#sobre {
  background-color: #F5E6FF;
}

#habilidades {
  background-color: #FFF8D9;
}

#projetos{
  background-color: #F5E6FF;
}
#contatos {
  background-color: #FFF8D9;
}

/* ========================================
   RODAPÉ
   ======================================== */
footer {
  background-color: #F5E6FF;
}

footer p{
  color: #0a090a;
}


